{
    "openapi": "3.0.0",
    "info": {
        "title": "API de base en laravel",
        "description": "GabomaPay",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "http://oask.ca/api"
        }
    ],
    "paths": {
        "/admin/admins/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION_ADMINISTRATEUR"
                ],
                "summary": "Liste des administrateurs",
                "operationId": "70d159651ab1842498461cf31a7343ba",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/admins/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION_ADMINISTRATEUR"
                ],
                "summary": "Ajouter un administrateur",
                "operationId": "82cb61d613d89b30f79428737c43ee6c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Enock"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "bgi@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/admins/show/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION_ADMINISTRATEUR"
                ],
                "summary": "Renvoie les informations d'un administrateur par son ID",
                "operationId": "31681fa15426ac49b7e17ffd74f4351f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/admins/update": {
            "post": {
                "tags": [
                    "ADMINISTRATION_ADMINISTRATEUR"
                ],
                "summary": "Editer les informations d'un administrateur",
                "operationId": "b8366dfcf03e7f01de3503e2f111d91d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Enock"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "bgi@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/admins/activate/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION_ADMINISTRATEUR"
                ],
                "summary": "Active ou désactive l'état d'un administrateur par son ID",
                "operationId": "6402cc5b0e938b02ecdcbea9cfa05f43",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/admins/delete": {
            "post": {
                "tags": [
                    "ADMINISTRATION__ADMINISTRATEURS"
                ],
                "summary": "Supprimer un administrateur",
                "operationId": "6d22ec051e7513cf6d5111de07686761",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "CLIENT & ADMINISTRATEUR_AUTH"
                ],
                "summary": "Authentifie l'utilisateur avant de se connecter",
                "description": "",
                "operationId": "2dd578ff7aba2721293dac66833b27d1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "bgi@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "CLIENT & ADMINISTRATEUR_AUTH"
                ],
                "summary": "Deconnecte l'utilisateur",
                "description": "",
                "operationId": "68a6108af04af5e3bc1ea68a6c6f1299",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "schema": "Bearer",
                                        "type": "string",
                                        "example": "89er4186gjazuihhiZIOJreioiouEIOJIOZERF814879AE8FEA"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "CLIENT & ADMINISTRATEUR_AUTH"
                ],
                "summary": "Enregister un utisaterur",
                "description": "",
                "operationId": "0903f2e0df1a8857bee538fc055417f0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Enock"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "bgi@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/forgot": {
            "post": {
                "tags": [
                    "CLIENT & ADMINISTRATEUR_AUTH"
                ],
                "summary": "Mot de passe oublié",
                "description": "",
                "operationId": "03aca08208571c2a43bcdeebb40304ae",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "bgi@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/reset": {
            "post": {
                "tags": [
                    "CLIENT & ADMINISTRATEUR_AUTH"
                ],
                "summary": "Renitialiser le mot de passe",
                "description": "",
                "operationId": "8ae8881c540d1f799293343fde43c530",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "ufghzruqgioqzruogrjcuuUIBYRCUR?61154600"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Liste des évènements",
                "operationId": "8718d81ff4f3801a3958ccb6dc3283f6",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/limit/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Renvoie les événement suivant une limite",
                "operationId": "b85677052c8e2ff1ddcdfa1ebb1f6efe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/search": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Recherche un événement par sa date",
                "operationId": "b8c25fa18dd901ac1b9d319b6eed8312",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "date": {
                                        "type": "date",
                                        "example": "22/04/2022"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Ajouter un évènement",
                "operationId": "33b5290684c8a63433e8a632b707daf5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Evangelisation"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore id recusandae a cupiditate dolorum doloribus velit nisi nesciunt itaque impedit quo, reiciendis molestiae rerum nihil eligendi ab exercitationem consectetur fugit!"
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "date": {
                                        "type": "date",
                                        "example": "2022-02-07 10:30"
                                    },
                                    "cover": {
                                        "type": "file"
                                    },
                                    "images[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/show/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Renvoie les informations d'un évènement par son ID",
                "operationId": "603870361cc47d1624e1b65d3d35d52c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/activate/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Active ou désactive l'état d'un évènement par son ID",
                "operationId": "92003ef91c505902d30a7b6ba4db0cdb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/update": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Editer les informations d'un évènement",
                "operationId": "3930a4a3ce2f8d48d465a501f8784670",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "titre": {
                                        "type": "string",
                                        "example": "Evangelisation"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Une description"
                                    },
                                    "date": {
                                        "type": "date",
                                        "example": "2022-02-07 10:30"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/delete/image": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Supprimer une photo liée à un évènement",
                "operationId": "571e4482011edbabe245f7f2fcc03611",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/update/image": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Moofier une photo liée à un évènement",
                "operationId": "286bd8d953f7dcd930edada162383e88",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "event_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/events/delete": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Supprimer un événement",
                "operationId": "74447cffb7b101674584cbbc87a1e118",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/galeries/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION__GALERIE"
                ],
                "summary": "Liste des images de la galérie",
                "operationId": "6487a869027bfe413370da8ccfd9f05a",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/galeries/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION__GALERIE"
                ],
                "summary": "Ajouter des images à la galérie",
                "operationId": "4a40f7a9a7e03da124da037e1413c921",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "images[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/galeries/update/image": {
            "post": {
                "tags": [
                    "ADMINISTRATION__GALERIE"
                ],
                "summary": "Moofier une image dans la galérie",
                "operationId": "236117eb29df1827df7e0829d0d6e6bf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/galeries/delete/image": {
            "post": {
                "tags": [
                    "ADMINISTRATION__GALERIE"
                ],
                "summary": "Supprimer une photo liée à un évènement",
                "operationId": "18d0a8c3ae32577ddf5a44cb17a8f4a6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Liste des ministère",
                "operationId": "62735eb72778540a5ef3cdb9d785c781",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/limit/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Renvoie les minitéres suivant une limite",
                "operationId": "5bd1dcb999ca5ba7d8dab4fb92cf04e2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Ajouter un ministère",
                "operationId": "91dbc8dd97a57127180445adb20f42ee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "ministry_name": {
                                        "type": "string",
                                        "example": "Evangelisation"
                                    },
                                    "leader_name": {
                                        "type": "string",
                                        "example": "Andy Kasanda"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Un ministére puissant dans l'église où plusieurs âmes sont gagnées pour le christ"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/show/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Renvoie les informations d'un ministère par son ID",
                "operationId": "5e8eb8edb4d44fb5f20ff68e90b36a3f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/update": {
            "post": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Editer les informations d'un ministère",
                "operationId": "7d50ba7418bb7b5fd07e4a77665dfe60",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "libelle": {
                                        "type": "string",
                                        "example": "Evangelisation"
                                    },
                                    "leader_name": {
                                        "type": "string",
                                        "example": "Andy Kasanda"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Un ministére puissant dans l'église où plusieurs âmes sont gagnées pour le christ"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/activate/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Active ou désactive l'état d'un ministère par son ID",
                "operationId": "0c546ebf95c320747fdac27409b45597",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/ministries/delete": {
            "post": {
                "tags": [
                    "ADMINISTRATION__MINISTERE"
                ],
                "summary": "Supprimer un ministere",
                "operationId": "cf4da4ae3a7561b3a84ce4ed5aa9b881",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Liste des prédications",
                "operationId": "9c0f2b39803474ee2d6ed9bad33b4893",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/limit/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Renvoie les prédications suivant une limite",
                "operationId": "8271a92a5cf2006f55738957768f8386",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/search/preacher": {
            "post": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Recherche les prédications par le nom du prédicateur",
                "operationId": "7354a548a1a57f1dcd92eeb6a1518bc2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "preacher_name": {
                                        "type": "string",
                                        "example": "Dr. Athom's MBUMA"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/search": {
            "post": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Recherche une prédication par sa date",
                "operationId": "6ad1987d6aff0a9af6ff57e6c8b00bbc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "date": {
                                        "type": "date",
                                        "example": "22/04/2022"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/preachers": {
            "get": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Liste des prédications",
                "operationId": "374b1625efe548ec1831ed788ca390fb",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Ajouter une prédication",
                "operationId": "3683a3347c4b991c7c58b49d3a783b52",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Spirituel"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Une prédication qui nous parle des hommes de trois type d'homme qui exsitent : l'homme animal,l'homme charnel,l'homme spirituel"
                                    },
                                    "preacher_name": {
                                        "type": "string",
                                        "example": "Dr. Athom's MBUMA"
                                    },
                                    "url": {
                                        "type": "string",
                                        "example": "https://www.youtube.com/watch?v=l6TRxCTiJv8"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/show/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Renvoie les informations d'une prédication par son ID",
                "operationId": "9cc081c7862a3180b151755a5b1d2348",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/update": {
            "post": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Editer les informations d'une prédication",
                "operationId": "d8b04c8bcd6f9ebd225b6da33869070d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "sermon_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Spirituel"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Une prédication qui nous parle des hommes de trois type d'homme qui exsitent : l'homme animal,l'homme charnel,l'homme spirituel"
                                    },
                                    "preacher_name": {
                                        "type": "string",
                                        "example": "Dr. Athom's MBUMA"
                                    },
                                    "url": {
                                        "type": "string",
                                        "example": "https://www.youtube.com/watch?v=l6TRxCTiJv8"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/activate/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Active ou désactive l'état d'une prédication par son ID",
                "operationId": "232a536362fb016b260f2db638402c2b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/sermons/delete": {
            "post": {
                "tags": [
                    "ADMINISTRATION__SERMONS"
                ],
                "summary": "Supprimer un sermon",
                "operationId": "c2ff74e7797c029836c1a84eaae7cd31",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/stats/event": {
            "get": {
                "tags": [
                    "ADMINISTRATION__STATISTIQUES"
                ],
                "summary": "Total des évenements",
                "operationId": "9346e886b52f3bfd5a350985d98441fb",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/stats/galerie": {
            "get": {
                "tags": [
                    "ADMINISTRATION__STATISTIQUES"
                ],
                "summary": "Total des évenements",
                "operationId": "e4d53cbacb261e02f22b38ee93b2efdd",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/stats/sermon": {
            "get": {
                "tags": [
                    "ADMINISTRATION__STATISTIQUES"
                ],
                "summary": "Total des sermons",
                "operationId": "ab7f05f1c391d48086223b22282bf2d7",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/stats/ministries": {
            "get": {
                "tags": [
                    "ADMINISTRATION__STATISTIQUES"
                ],
                "summary": "Total des ministéres",
                "operationId": "e39615964c3e3df727e582e3e430efb6",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/subscribers/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION__ABONNES"
                ],
                "summary": "Liste des abonnés",
                "operationId": "45ce1ab0a9afbc5eb72deb8f2310e0e5",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/subscribers/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION__ABONNES"
                ],
                "summary": "Ajouter un abonné",
                "operationId": "2e1461ab5736e3208755a4251dc4d3de",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "enockmulamba1802@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/subscribers/send": {
            "get": {
                "tags": [
                    "ADMINISTRATION__ABONNES"
                ],
                "summary": "Liste des abonnés",
                "operationId": "e6468954bb6df50a709f9b609c907e16",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Liste des témoignages",
                "operationId": "9afb0df3afca6aa8abe27e9b7969afa5",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/limit/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Renvoie les témoignages suivant une limite",
                "operationId": "c5d62ee66054683696f4502764878d11",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/search": {
            "post": {
                "tags": [
                    "ADMINISTRATION__EVENEMENTS"
                ],
                "summary": "Recherche un événement par sa date",
                "operationId": "f48ee6a116741fe823a048e90ae7b22e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "date": {
                                        "type": "date",
                                        "example": "22/04/2022"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/store": {
            "post": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Ajouter un témoignage",
                "operationId": "1ce665dc1282cd2095523589ff832bac",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Evangelisation"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Andy Kasanda"
                                    },
                                    "witness_name": {
                                        "type": "string",
                                        "example": "Daniel Kiala"
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "date": {
                                        "type": "date",
                                        "example": "2022-04-05"
                                    },
                                    "cover": {
                                        "type": "file"
                                    },
                                    "images[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/show/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Renvoie les informations d'un témoignage par son ID",
                "operationId": "a87e660025c5acb31a501ea6b1f2e793",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/activate/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Active ou désactive l'état d'un témoignage par son ID",
                "operationId": "0a3a48ba27fc55efd9e1966b904753b3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/update": {
            "post": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Editer les informations d'un témoignage",
                "operationId": "4238fb43b3d3b15b1d1e683128c1a061",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Evangelisation"
                                    },
                                    "descriptions": {
                                        "type": "string",
                                        "example": "Une description"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/delete/image": {
            "post": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Supprimer une photo liée à un témoignage",
                "operationId": "58bc9661ee3e0e84237d92fcc6c0fb3f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonials/update/image": {
            "post": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Moofier une photo liée à un témoignage",
                "operationId": "f76c65ae26a9d3b035a5995ee94469f1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "testimonial_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/testimonial/delete": {
            "post": {
                "tags": [
                    "ADMINISTRATION__TEMOIGNAGES"
                ],
                "summary": "Supprimer un témoignage",
                "operationId": "587c28d69c47e4dfddf3d1b908454288",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/users/list": {
            "get": {
                "tags": [
                    "ADMINISTRATION_UTILISATEUR"
                ],
                "summary": "Liste des utilisateurs",
                "operationId": "f502bc4c9e21f43d5022b21683886916",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/users/show/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION_UTILISATEUR"
                ],
                "summary": "Renvoie les informations d'un utilisateur par son ID",
                "operationId": "085e470d12a568ddd14f5a29270456ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/admin/users/activate/{id}": {
            "get": {
                "tags": [
                    "ADMINISTRATION_UTILISATEUR"
                ],
                "summary": "Active ou désactive l'état d'un utilisateur par son ID",
                "operationId": "f43481b9e665f9e8f752b7c8b8dd8c06",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 18
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "apiKey",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [
        []
    ]
}